.entrance__wrapper {
  display: flex;
  gap: 65px;
}
.entrance__col {
  width: 100%;
  max-width: 480px;
}
.entrance__desc {
  margin-top: 24px;
}
.entrance__tags {
  display: flex;
  gap: 5px;
  margin-top: 27px;
  color: #545d46;
  font-size: 14px;
  line-height: 110%;
}
.entrance__tag {
  padding: 7px 19px;
  border-radius: 13.293px;
  background: #cded9c;
}
.entrance__title {
  color: #3e4553;
}
.entrance__body {
  width: 100%;
  max-width: 385px;
}
.entrance__btn {
  margin-top: 10px;
  cursor: pointer;
}

.upload__img {
  display: flex;
  border-radius: 12px;
  background: #fff;
  backdrop-filter: blur(0.8px);
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.upload__img img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.upload__delete {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.upload__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.upload__field {
  display: none;
}
.upload__preview {
  display: flex;
  width: 100%;
  height: auto;
  grid-column: span 2;
}
.upload__preview img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.upload__load-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 12px;
  background: #fff;
  backdrop-filter: blur(0.8px);
  font-size: 9px;
  line-height: 16px;
}
.upload__load-more-icon {
  display: flex;
}
.upload__status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.upload__btn {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .entrance__wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .entrance__col {
    max-width: none;
  }
  .entrance__body {
    max-width: none;
  }
  .entrance__tags {
    font-size: 11px;
    line-height: 110%;
    margin-top: 10px;
  }
  .entrance__tag {
    padding: 5px 14px;
  }
  .entrance__desc {
    margin-top: 14px;
    max-width: 285px;
  }
}