.result {
  position: relative;
  color: #fff;
}
.result::after {
  display: block;
  content: "";
  width: 100%;
  height: 520px;
  border-radius: 0 0 32px 32px;
  background: linear-gradient(180deg, #323844 44.35%, #7e7f80 100%);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -2;
}
.result__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 1;
}
.result__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}
.result__heading {
  width: 100%;
  max-width: 480px;
  height: -moz-fit-content;
  height: fit-content;
}
.result__body {
  width: 100%;
}
.result__panel-title {
  display: flex;
  color: #3e4553;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 16px;
}
.result__panel-title-num {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #b9baba;
}
.result__link {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: underline;
}
.result__panel-tag {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
  padding: 7px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 18.85px;
  text-transform: uppercase;
  border-radius: 17px;
  background: #94c24a;
}
.result__panel-warning-icon {
  display: flex;
}
.result__panel-warning {
  display: flex;
  gap: 10px;
  padding: 14px;
  border-radius: 10px;
  background: #eef4e4;
  color: #3e4553;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  margin: 12px 0;
}
.result__panel {
  padding: 20px 16px;
  border-radius: 10px;
  background: #fff;
  color: #3e4553;
  margin-top: 10px;
  font-size: 13px;
  line-height: 15px;
}
.result__panel-item {
  margin-top: 30px;
}
.result__btn {
  width: 328px;
}

.result-card {
  color: #eceff4;
  border-radius: 10px;
  background: #4a4e58;
  padding: 20px 16px;
}
.result-card__top {
  display: flex;
  align-items: center;
}
.result-card__img {
  display: flex;
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 1;
  border-right: 1px solid #7a7d84;
}
.result-card__img img {
  border-radius: 50%;
  min-width: 38px;
  width: 38px;
  height: 38px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.result-card__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.result-card__row {
  padding: 12px 0;
  position: relative;
  z-index: 1;
}
.result-card__row:not(:last-child):after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(179, 179, 179) 50%, rgba(0, 0, 0, 0) 100%);
}
.result-card__subtitle {
  color: #94c24a;
  font-size: 12px;
  font-weight: 600;
  line-height: 11px;
  margin-bottom: 7px;
}
.result-card__text {
  font-size: 13px;
  font-weight: 300;
  line-height: 15px;
}

@media screen and (max-width: 570px) {
  .result__wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .result__heading {
    position: static;
  }
  .result__body {
    max-width: none;
  }
  .result__top {
    flex-direction: column;
    align-items: flex-start;
  }
  .result__btn {
    width: 100%;
  }
}