.footer {
  margin-top: auto;
  padding: 10px 0;
}
.footer__row {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
}
.footer__link {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--, #5a616c);
  opacity: 0.6;
  text-decoration: underline;
}

@media screen and (max-width: 570px) {
  .footer__row {
    flex-direction: column;
    gap: 4px;
  }
}